[Desktop Entry]
Name=Bolls Bible
Exec=bolls-run %U
Terminal=false
Type=Application
Icon=life.bolls.bolls
Categories=Education;
MimeType=x-scheme-handler/bolls;
